* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:serif;
}

body {
    background-color: #111113;
}

.glass-btn {
    display: block;
    width: 150px;
    padding: .85rem 0;
    margin: 25% auto;
    border-top: 1.1px solid rgba(255, 255, 255, 0.27);
    border-right: 1px solid rgba(255, 255, 255, 0.15);
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: .1px solid rgba(255, 255, 255, 0.13);
    background-color: rgba(126, 126, 126, 0.172);
    backdrop-filter: blur(8px);
    color: #fbfbfb;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 350ms ease-in-out,
        border-radius 350ms ease-in-out,
        box-shadow 350ms ease-in-out;
    box-shadow: 1px 1px 6px rgba(255, 255, 255, 0),
        0 0 25px rgba(255, 255, 255, 0);
    transform: scale(1);
}

.glass-btn:hover {
    background-color: rgba(126, 126, 126, 0.069);
    box-shadow: 1px 1px 6px rgba(255, 255, 255, 0.1),
        0 0 25px rgba(255, 255, 255, 0.1),
        0 0 50px rgba(94, 255, 164, 0.186);
}